.svg-icon circle {
    stroke-width: 1;
}

.splitter {
    width: 100%;
    height: 100px;
    display: flex;
}

#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 5px;
    height: 100%;

    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#first {
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 100%;
    min-width: 10px;
}

#second {
    background: linear-gradient(to bottom, #5b7bfa24, #0000009c);
    width: 25%;
    height: 100%;
    min-width: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    background-color: #1F1B24;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    display: flex;
    flex: 1;
    background: #000;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.title {
    color: rgba(255, 255, 255, 0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    transition: opacity 0.4s;
}

.title p {
    font-size: 14vw;
}

.title .title__svg {
    width: 17vw;
    height: 34vw;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title .title__svg video {
    width: 95%;
    height: 95%;
    -o-object-fit: cover;
    object-fit: cover;
}

.title .title__svg svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.title .title__svg svg text {
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    transform-origin: center center;
    font-size: 3em;
}

.title .title__svg svg rect {
    fill: #fff;
}

.title .title__svg svg>rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
    fill: #000;
}

.iphonex {
    width: 20em;
    height: 40em;
    display: flex;
    position: absolute;
    transform: rotate(0deg);
    transition: all cubic-bezier(0.36, 0.41, 0.38, 1) 0.4s;
    z-index: 10;
}

.iphonex:hover {
    transform: rotate(0deg) scale(0.95);
    margin-right: 0%;
}

.iphonex:hover~.title {
    opacity: 0;
}

.iphonex .back {
    display: flex;
    flex: 1;
    margin: 0.2em;
    border-radius: 3em;
    position: absolute;
    z-index: 1;
    width: calc(100% - 0.6em);
    height: calc(100% - 0.6em);
    top: 0;
    right: 0;
    box-shadow: 0 0 10em rgba(70, 70, 70, 0.1);
    transition: all 0.4s;
}

.iphonex:hover .back {
    box-shadow: 0 0 15em rgba(70, 70, 70, 0.4);
}

.iphonex .front {
    display: flex;
    flex: 1;
    background-color: #292c2d;
    border-radius: 3em;
    margin: 0.2em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.1em 0.4em rgba(255, 255, 255, 0.1) inset;
    z-index: 10;
}

.iphonex .screen {
    display: flex;
    flex: 1;
    background-color: #191b1c;
    margin: 0.4em;
    border-radius: 2.6em;
    border: solid 0.2em #121415;
    position: relative;
    z-index: 10;
}

.iphonex .front__line {
    background: linear-gradient(to right, #515455, #454748, #515455);
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 0.5em;
    top: 10%
}

.iphonex .front__line-second {
    top: 90%
}

.iphonex .screen .screen__view {
    display: flex;
    flex: 1;
    margin: 0.6em;
    border-radius: 2em;
    overflow: hidden;
    position: relative;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.iphonex .screen .screen__view:after,
.iphonex .screen .screen__view:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 50em;
    height: 50em;
    border-radius: 50%;
    background: linear-gradient(110deg, #1d1d1d, #000000, #4f4f4f);
    bottom: 0;
}

.iphonex .screen .screen__view:after {
    transform: translateY(100%) scaleX(1.4);
    opacity: 0.3;
    transition: all ease 0.5s 0.1s;
}

.iphonex .screen:hover .screen__view:after {
    transform: translateY(10%) scaleX(1.4);
    transition: all ease 0.9s;
}

.iphonex .screen .screen__view:before {
    transform: translateY(100%) scaleX(1.4);
    opacity: 1;
    z-index: 40;
    transition: all ease 0.6s;
}

.iphonex .screen:hover .screen__view:before {
    transform: translateY(10%) scaleX(1.4);
    transition: all ease 0.9s 0.2s;
}

.iphonex .screen .screen__view .hello {
    font-size: 2.5em;
    color: #fff;
    position: absolute;
    z-index: 60;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    transform: translateY(40%);
    font-weight: 600;
}

.iphonex .screen:hover .screen__view .hello {
    opacity: 1;
    transform: translateY(0%);
    transition: all ease 0.6s 0.7s;
}

.iphonex .screen .screen__front {
    position: absolute;
    width: 50%;
    background-color: #191b1c;
    height: 1.8em;
    border-radius: 0 0 0.9em 0.9em;
    right: 25%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    margin-top: 0.5em;
    z-index: 999;
}

.iphonex .screen .screen__front::after,
.iphonex .screen .screen__front::before {
    content: "";
    width: 10%;
    height: 50%;
    position: absolute;
    background: transparent;
    top: -0.3em;
    border: solid 0.4em #191b1c;
    border-bottom: 0;
}

.iphonex .screen .screen__front::after {
    left: 0.4em;
    transform: translateX(-100%);
    border-left: 0;
    border-radius: 0 0.7em 0 0;
}

.iphonex .screen .screen__front::before {
    right: 0.4em;
    transform: translateX(100%);
    border-right: 0;
    border-radius: 0.7em 0 0 0;
}

.iphonex .screen .screen__front-speaker {
    background: #070808;
    border-radius: 0.2em;
    height: 0.35em;
    width: 28%;
}

.iphonex .screen .screen__front-camera {
    height: 0.35em;
    width: 0.35em;
    background: #272727;
    margin-left: .5em;
    border-radius: 50%;
    margin-right: -0.8em;
}

.iphonex .phoneButtons {
    width: 1em;
    height: 6em;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom, #212324, #2b2e31, #212324);
    box-shadow: 0 0 0.4em rgba(255, 255, 255, 0.1) inset;
    border-radius: 2px;
}

.iphonex .phoneButtons-right {
    right: 0;
    top: 30%;
}

.iphonex .phoneButtons-left {
    left: 0;
    top: 15%;
    height: 3em;
}

.iphonex .phoneButtons-left2 {
    left: 0;
    top: 25%;
    height: 5em;
}

.iphonex .phoneButtons-left3 {
    left: 0;
    top: calc(25% + 6em);
    height: 5em;
}

@media (max-height: 40em) {
    body {
        font-size: 70%;
    }

    .iphonex {
        width: 48vh;
        height: 94vh;
    }

    .title .title__svg svg text {
        font-size: 4em;
    }
}

.element::-webkit-scrollbar {
    width: 0 !important
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.inner {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;

}

* {
    box-sizing: border-box
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: rgba(17, 24, 39);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}
.tablink2 {
    background-color: rgba(17, 24, 39);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink1 {
    background-color: rgba(17, 24, 39);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tablink1:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 80px 20px;
    height: 100%;


    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2306080d' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230b1019' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23111726' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23161f32' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231C273F' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

.tabcontent1 {
    color: white;
    display: none;
    padding: 80px 20px;
    height: 100%;
    width: 100%;
}
.tabcontent2 {
    color: white;
    display: none;
    padding: 80px 20px;
    height: 100%;
    width: 100%;
}

.rotate-45 {
    --transform-rotate: 45deg;
    transform: rotate(45deg);
}

.group:hover .group-hover\:flex {
    display: flex;
}

.card:not(:empty):hover,
.card:not(:empty):focus {
z-index: 1;
color: #fff;
background: #ea124f;
opacity: 1;
transform: scale(1.15) rotateZ(0deg);
cursor: pointer;
}


.card {
padding: 10px;
background: #ffffff;
border-radius: 0.7em;
opacity: 1;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
transition-property: background, transform, color, opacity;
}


.grid {
width: 100%;
height: 100%;
padding: 20px;
display: grid;
overflow: hidden;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-gap: 20px;
}

.item1 {
grid-area: 1/1/3/3;
}

.item2 {
grid-area: 3/3/4/4;
}
.item2.card:hover, .item2.card:focus {
background: #00005c;
}

.item3 {
grid-area: 4/1/5/4;
}

.item4 {

grid-area: 1/5/2/6;
background: #ffffff;

}

.item5 {
grid-area: 2/4/3/5;
}

.item6 {
grid-area: 3/4/4/5;
}

.item7 {
grid-area: 3/4/5/5;
}

.item8  {
grid-area: 1/3/2/5;
}

.item8 :after {
position: relative;
box-sizing: border-box;
}

.item8.card:hover, .item8.card:focus {
background: #ffffff;
}

.item9 {
grid-area: 2/5/3/6;
}

.item10 {
grid-area: 3/5/4/6;
}

.item11 {
grid-area: 4/5/5/6;
}
.item11.card:hover, .item11.card:focus {
background: #00a8cc;
}

.content {
display: flex;
flex-direction: column;
justify-content: center;
}

.item1,.item10, .item11, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .grid
:before,

.item1,.item10, .item11, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .grid :after {
position: relative;
box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
.grid {
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(6, minmax(auto, 300px));
overflow-y: scroll;
}

.item1 {
grid-area: 1/1/2/3;
}

.card {
grid-area: auto;
text-align: left;
}
.card:empty {
display: none;
}
}

.center
{
height:90vh;
width:100%;
display: flex;
justify-content: center;
align-items: center;
}


.property-card
{
height:18em;
width:14em;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
position:relative;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
border-radius:16px;
overflow:hidden;
-webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-image
{
height:6em;
width:14em;
padding:1em 2em;
position:Absolute;
top:0px;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
background-image:url('https://api.qrserver.com/v1/create-qr-code/?size=300x300&color=47-79-79&margin=50&data=halonex/uId2');
background-size:cover;
background-repeat:no-repeat;
}

.property-description
{
background-color: #FAFAFC;
height:12em;
width:14em;
position:absolute;
bottom:0em;
-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
padding: 0.5em 1em;
text-align:center;
}

.property-social-icons
{
width:100%;
height:1em;
background-color:#FAFAFC;
position:absolute;
bottom:1em;

-webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
-o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.property-card:hover .property-description
{
height:0em;
padding:0px 0em;
}

.property-card:hover .property-image
{
height:14em;
}

.property-card:hover .property-social-icons
{
background-color:#f2f2f2;
}

.in-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }
  
.in-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.in-field:focus, .in-field:valid {
  outline: 0;
  border-bottom-color: #6658d3;
}
.in-field:focus + .in-label, .in-field:valid + .in-label {
  color: #6658d3;
  transform: translateY(-1.5rem);
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #6658d3;
  border-radius: 6px;
  color: #FFF;
  border: 0;
}
.action-button:focus {
  outline: 0;
}

#logauth {
  height: 100%;
  width: 100%;
  margin: 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #f3f2f2;
}


label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

#formdiv {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 60%;
  border: rgb(108, 108, 108) 1px solid;
}
#formdiv h4 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
#formdiv h4 span {
  color: black;
  font-weight: 700;
}
#formdiv p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}

a.discrete {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 4px;
  margin-left: auto;
  font-weight: 300;
  transition: all 0.3s ease;
  margin-top: 40px;
}
a.discrete:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

#authbutton {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 14px;
  text-align: center;
  padding: 10px 20px;
  margin-top: 5px;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
#authbutton:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}
#authbutton:hover:active {
  transform: scale(0.99);
}

input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}
input:focus {
  border-bottom: solid 1px #b69de6;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.floating-label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
}
.floating-label input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}
.floating-label .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
}
.floating-label .icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.15;
  transition: all 0.3s ease;
}
.floating-label .icon svg path {
  transition: all 0.3s ease;
}
.floating-label input:not(:-moz-placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:-ms-input-placeholder) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floating-label input:not(:-ms-input-placeholder) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floating-label input:valid:not(:-moz-placeholder-shown) + label + .icon svg {
  opacity: 1;
}
.floating-label input:valid:not(:-ms-input-placeholder) + label + .icon svg {
  opacity: 1;
}
.floating-label input:valid:not(:placeholder-shown) + label + .icon svg {
  opacity: 1;
}
.floating-label input:valid:not(:-moz-placeholder-shown) + label + .icon svg path {
  fill: #b69de6;
}
.floating-label input:valid:not(:-ms-input-placeholder) + label + .icon svg path {
  fill: #b69de6;
}
.floating-label input:valid:not(:placeholder-shown) + label + .icon svg path {
  fill: #b69de6;
}
.floating-label input:not(:valid):not(:focus) + label + .icon {
  -webkit-animation-name: shake-shake;
          animation-name: shake-shake;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
.session {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: auto;
  margin: auto auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
  justify-content: center;
  border: rgb(255, 255, 255) 10px solid;
}

.left {
  width: 40%;
  height: auto;
  min-height: 100%;
  position: relative;
  background-image: url("https://gdurl.com/sFmBE");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  
}

.leaderboard {
  width: 100%;
  border-radius: 12px;
  background-color: rgba(0, 0, 34, 0);
}
.leaderboard header {
  --start: 15%;
  height: 100px;
  background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
  color: #fff;
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
.leaderboard header .leaderboard__title {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: calc(var(--start) * .75);
  transform: translateY(-50%);
  text-transform: uppercase;
  margin: 0;
}
.leaderboard header .leaderboard__title span {
  display: block;
}
.leaderboard header .leaderboard__title--top {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4.5px;
}
.leaderboard header .leaderboard__title--bottom {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.55px;
  opacity: 0.65;
  transform: translateY(-2px);
}

.leaderboard__profiles {
  background-color:rgb(0, 0, 54);
  border-radius: 0 0 12px 12px;
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
  border-top: rgb(0, 0, 255) 5px solid;
}
.leaderboard__profile {
  display: grid;
  height: 60px;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
  background-color: #fff;
}
.leaderboard__profile:hover {
  transform: scale(1.01);
  box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}
.leaderboard__name {
  color: #979cb0;
  margin-left: 12px;
}
.leaderboard__value {
  color: #35d8ac;
  text-align: right;
}
.leaderboard__value > span {
  opacity: 0.8;
  margin-left: 3px;
}

.leaderboard {
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.4);
}

.appmenu1{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin: 10ox;
  background-color: #0000ff;
  border-top-left-radius: 10px;
}

.appmenubar{
  --start11: 14.5%;
  background: linear-gradient(to right, #5b7cfa, #3659db);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.abvtxt{
  
}