.navbar-global {
    background-color: #009688FF;
  }
  
  .navbar-global .navbar-brand {
    color: white;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    right: 0px;
    position: absolute;
    top: 51px;
    width: 300px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 100px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
    background:black;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: #009688FF;
  }
  
  .main-content {
    margin-top: 60px;
    padding: 50px;
    height: 90vh;
    overflow-y: scroll;
    padding-bottom: 100px;
    
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }
  
  .container1 {
    list-style:none;
    margin: 0;
    height:100%;
    padding: 35px;
    padding-left:20px;
    overflow-y:scroll;
    padding-bottom:100px;
  }
  .item {
    
    width: 50px;
    height: 50px;
    border-radius:10px;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    align-content : center;
  }
  
  .ans{
    background: #009688FF;
    padding-top:7%;
  }
  
  .unvis{
    background: grey;
    color:whitesmoke;
    padding-top:7%;
  }
  
  .mforrev{
    background: rgb(102,0,204);
    color :white;
    padding-top:7%;
  }
  
  .unans{
    background: red;
    color :white;
    padding-top:7%;
  }
  
  /*float layout*/
  .float {
    max-width: 1200px;
    margin: 0 auto;
  }
  .float:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .float-item {
    float: left;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #009688FF rgb(255, 255, 255);
  }
  
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #009688FF;
    border-radius: 20px;
  }

  .li1 {
      cursor: pointer;
      height: 100%;
  }

  
  .Optcontainer{
    display: block;
    position: relative;
    margin: 40px auto;
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    padding-bottom: 200px;
  }
  
  .Optcontainer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    
  }
  
  .optui{
    color: black;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 0.1px solid rgb(231, 231, 231);
  }
  
  .optui input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  .optui label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  
  .optui:hover label{
      color: #333;
  }
  
  .optui .check{
    display: block;
    position: absolute;
    border: 3px solid black;
    border-radius: 100%;
    height: 21px;
    width: 21px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
  }
  
  .optui:hover .check {
    border: 3px solid #AAAAAA;
  }
  
  .optui .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: 1px;
    left: 1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    border: 3px solid #009688FF;
  }
  
  input[type=radio]:checked ~ .check::before{
    background: #009688FF;
  }
  
  input[type=radio]:checked ~ label{
    color: #009688FF;
  }

  #QuesMain {
      font-size: 15px;
  }

  body{
      overflow: hidden;
  }

  .overlay{
	position:absolute;
    width: 100%;
    height:100%;
    z-index:234;
    -ms-transform: translate(-0px, -10px);
    transform: translate(-0px, -10px);
    color:white;
    text-align: center;
    visibility: hidden;
}

.ocen{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.errorOverlay{
    background-image: linear-gradient(rgb(255,0,0,0.7), rgba(0, 0, 0, 0.7));
}

.successOverlay{
    background-image: linear-gradient(rgb(0,150,136,1), rgba(0, 0, 0, 0.9));
}