
*, *:before, *:after {
  box-sizing: border-box;
}



#list {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;     
  width: 300px;
}

.tile {
  background-color: white;
  color: #3A3A4D;
  position: relative;
  font-weight: bold;
  border-color: yellowgreen;
}


.tile {
  clear: both;
  margin-top: 10px;
  padding: 0px;  
  width: 300px;
}

.tile:first-child {
}

.tile .content {  
  padding: 10px;
}

.scrubber {
  cursor: ns-resize;
  float: right;
  background-color: black;
  width: 15px;
  height: 3px;
}

.note {
  color: grey;
  transform: matrix(1, 0, -0.1, 1, 0, 0);
}
